.aBox {
	background-color: aliceblue;
}

.bBox {
	background-color: rgb(181, 210, 235);
}

.cBox{
	background-color: rgb(130, 183, 230);
} 
.dBox {
	background-color: rgb(34, 116, 187);
} 

.eBox{
	background-color: rgb(8, 41, 70);
}
.gBox {
	background-color: rgb(44, 82, 116);
}

.fBox {
	background-color: rgb(136, 191, 238);
}
.hBox {
	background-color: rgb(45, 57, 68);
}

.iBox {
	background-color: rgb(118, 122, 126);
}


@media (min-width: 768px) and (max-width: 960px) {

	.aBox {
		background-color: rgb(61, 255, 190);
	}
	
	.bBox {
		background-color: rgb(50, 214, 159);
	}
	
	.cBox{
		background-color: rgb(32, 165, 120);
	} 
	.dBox {
		background-color: rgb(15, 170, 118);
	} 
	
	.eBox{
		background-color: rgb(9, 87, 61);
	}
	.gBox {
		background-color: rgb(9, 75, 53);
	}
	
	.fBox {
		background-color: rgb(21, 87, 65);
	}
	.hBox {
		background-color: rgb(21, 70, 53);
	}
	
	.iBox {
		background-color: rgb(6, 56, 39);
	}


}

@media (min-width: 960px) {

	.aBox {
		background-color: rgb(138, 5, 172);
	}
	
	.bBox {
		background-color: rgb(110, 13, 134);
	}
	
	.cBox{
		background-color: rgb(58, 2, 71);
	} 
	.dBox {
		background-color: rgb(97, 62, 105);
	} 
	
	.eBox{
		background-color: rgb(230, 132, 255);
	}
	.gBox {
		background-color: rgb(72, 32, 82);
	}
	
	.fBox {
		background-color: rgb(204, 0, 255);
	}
	.hBox {
		background-color: rgb(60, 29, 68);
	}
	
	.iBox {
		background-color: rgb(113, 0, 136);
	}


}
